<%- layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/styles/download-style.css">

<% if(showAlert.message) { %>
<div class="row mb-5">
  <div class="alert alert-info alert-dismissible fade show" role="alert" id="alerto">
    <%= showAlert.message %>
    <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
  </div>
  <% } %>
    <h1 class="fs-3 text-center">Report Page</h1>
    <form action="/reports" method="GET" class="row align-items-end">
        <div class="col-6 col-md-5">
          <label for="classification" class="d-none d-md-block">filter by building classification</label>
          <select name="classification" id="classification" class="form-select">
            <option value="" <%= !filteredClassification ? 'selected' : '' %>>All</option>
            <% classifications.forEach((c,i)=>{ %>
               <option value="<%= c %>" <%= filteredClassification === c ? 'selected' : '' %>><%= c %></option>
            <% }) %>
          </select>
        </div>
        <div class="col-6 col-md-5">
          <label for="typology" class="d-none d-md-block">filter by building typology</label>
          <select name="typology" id="typology" class="form-select">
            <option value="" <%= !filteredTypology ? 'selected' : '' %>>All</option>
            <% typologies.forEach((t,i)=>{ %>
               <option value="<%= t %>" <%= filteredTypology === t ? 'selected' : '' %>><%= t %></option>
            <% }) %>
          </select>
        </div>
        <div class="col mt-4 d-flex">
          <button type="submit" class="btn btn-success flex-grow-1"><img src="/icons/xlsx.svg" width="30px"> Generate .xlsx</button>
        </div>
      </form>
</div>
<div class="row">
    <form action="/reports/download" target="_blank" class="download">
        <button type="submit" class="btn btn-success" id="submitBtn"><img src="/images/sheets.png" alt="" > Download (.xlsx)</button>
    </form>
</div>

<script>
  const alert = document.querySelector('#alerto')
  setTimeout(() => {
    alert.remove()
  }, 5000);

  const btn = document.getElementById('submitBtn')
  btn.addEventListener('click', ()=>{
    setTimeout(() => {
      window.location.href = '/evaluation/new'
    }, 1000);
  })
</script>