<%- layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/styles/table.css" />

<div class="evaluations">
  <div class="eval-title">List of Requests</div>
  <div class="eval-body">
    <div class="eval-headers-8">
      <h5>Building Name</h5>
      <h5>Full Name</h5>
      <h5>Contact No.</h5>
      <h5>Company</h5>
      <h5>Position</h5>
      <h5>Email</h5>
      <h5>Purpose</h5>
      <h5>Email Actions</h5>
    </div>
    <% for(let i = 0; i < requests.length;i++ ) {%> <% const request =
    requests[i] %>
    <div class="eval-item-8 <%= i % 2 === 0 ? 'striped' :'' %>">
      <div class="fw-bold"><%= request.buildingName %></div>
      <div><%= request.fullName %></div>
      <div><%= request.contactNo %></div>
      <div><%= request.company %></div>
      <div><%= request.position %></div>
      <div><%= request.email %></div>
      <div><%= request.purpose %></div>
      <div class="d-flex gap-1" style="height:fit-content; justify-content: end;">
        <a
          href="<%= `/request/send?email=${request.email}&name=${request.fullName}&building=${request.buildingName}&id=${request._id}&approve=true` %>"
          class="btn btn-sm btn-primary"
          ><img src="/icons/mail-yes.svg" width="25px" > Approve
          </a>
        <a
          href="<%= `/request/send?email=${request.email}&name=${request.fullName}&building=${request.buildingName}&id=${request._id}&approve=false` %>"
          class="btn btn-sm btn-danger"
          ><img src="/icons/mail-no.svg" width="25px" >Deny
          </a>
      </div>
    </div>
    <% } %>
  </div>
</div>

<% if(requests.length === 0) {%>
<div class="bg-secondary p-3 rounded text-white text-center w-25 mx-auto">
  <h5 class="fw-light">NO REQUESTS FOUND</h5>
</div>
<% } %>
