<%- layout('layouts/boilerplate') %>
<div class="row">
  <div class="col-md-6 offset-md-3 border rounded shadow p-3 bg-body-secondary">
    <img src="/images/tau_banner.png" alt="" class="img-fluid" />
    <h4>Define new building</h4>
    <form action="/buildings" method="POST" enctype="multipart/form-data">
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="classification">Classification</label>
          <select
            name="building[classification]"
            id="classification"
            class="form-select"
          >
            <% classifications.forEach((c,i)=>{ %>
              <option value="<%= c %>" <%= i === 0 && 'selected' %>><%= c %></option>
            <% }) %>
            </select>
        </div>
        <div class="col-md-6 mb-3">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="building[name]"
          />
        </div>
        <div class="col-12 mb-3">
          <label for="description">Description</label>
          <textarea
            class="form-control"
            name="building[description]"
            id="description"
            cols="30"
            rows="3"
          ></textarea>
        </div>
        <div class="col-12 mb-3">
          <label for="name">Image file(s) (maximum of 5 images)</label>
          <input
            type="file"
            class="form-control"
            id="name"
            name="image"
            multiple
            accept="image/*"
          />
        </div>
        <div class="col-12 mb-3">
          <div class="row">
            <div class="col">
              <label for="floorCount">Height (No. of Floors)</label>
              <input
                type="Number"
                class="form-control"
                id="floorCount"
                name="building[floorCount]"
              />
            </div>
            <div class="col">
              <label for="footprintArea">Footprint area (sqm) </label>
              <input
                type="Number"
                class="form-control"
                id="footprintArea"
                name="building[footprintArea]"
                min="0.00"
                step="0.01"
              />
            </div>
            <div class="col">
              <label for="floorArea">Total floor area (sqm)</label>
              <input
                type="Number"
                class="form-control"
                id="floorArea"
                name="building[floorArea]"
                min="0.00"
                step="0.01"
              />
            </div>
          </div>
        </div>
        <div class="col-12 mb-3">
          <label for="roomCount">Number of rooms</label>
          <textarea
            class="form-control"
            name="building[roomCount]"
            id="roomCount"
            cols="30"
            rows="3"
          ></textarea>
        </div>
        <h5>Typology</h5>
        <div class="col-12 mb-3">
          <div class="row">
            <% typologies.forEach((t,i)=>{ %>
            <div class="col-6 col-md-4 col-lg-3 border border-secondary">
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="typology-<%= i %>"
                  ><%= t %></label
                >
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="typology-<%= i %>"
                  name="typologies[]"
                  value="<%= t %>"
                />
              </div>
            </div>
            <% })%>
          </div>
        </div>
        <div class="col-12 mb-3">
          <div class="row align-items-end">
            <div class="col">
              <label for="capacity">Occupancy Capacity</label>
              <input
                type="Number"
                class="form-control"
                id="capacity"
                name="building[capacity]"
              />
            </div>
            <div class="col">
              <label for="userCount">Actual users per building (day)</label>
              <input
                type="Number"
                class="form-control"
                id="userCount"
                name="building[userCount]"
              />
            </div>
            <div class="col">
              <label for="assetValue">Asset Value</label>
              <input
                type="Number"
                class="form-control"
                id="assetValue"
                name="building[assetValue]"
                min="0.00"
                step="0.01"
              />
            </div>
          </div>
        </div>
        <h5>Location</h5>
        <div class="col-12 mb-3">
          <div class="row justify-content-center">
            <div class="col-6">
              <label for="latitude">Latitude</label>
              <input
                type="text"
                class="form-control"
                id="latitude"
                name="location[latitude]"
              />
            </div>
            <div class="col-6">
              <label for="longtitude">Longtitude</label>
              <input
                type="text"
                class="form-control"
                id="longtitude"
                name="location[longtitude]"
              />
            </div>
          </div>
        </div>
        <div class="col-md-6 ms-auto">
          <input
            type="submit"
            value="Add new building"
            class="form-control btn btn-success flex-fill"
          />
        </div>
      </div>
    </form>
  </div>
</div>
