<div class="row g-4 mt-0 mt-md-5">
    <% if(buildings.docs.length === 0) { %>
      <div class="d-flex justify-content-center">
        <div class="bg-secondary p-3 rounded text-white text-center">
          <h5 class="fw-light">NO RECORDS FOUND</h5>
        </div>
      </div>
      <% } %>
    <% for(let building of buildings.docs) { %>
    <div class="col-md-4 col-lg-3">
      <div class="card">
        <img
          src="<% if(building.images[0]){ %>
              <%= building.images[0].slice(6) %>
          <%  }else {%>
              <%=  '/images/tau.png' %>
              <% } %>"
          class="card-img-top fit"
          alt="picture of a building"
        />
        <div class="card-body pb-0">
          <h5 class="card-title text-wrap fw-bold">
            <a href="/buildings/<%= building._id %>"><%= building.name %></a>
          </h5>
          <h6 class="card-subtitle mb-2 text-muted">
            <%= building.typologies.length > 0 ? building.typologies.join('/') : 'no typology specified'%>
          </h6>
          <hr />
          <div class="card-text">
            <%= building.description || 'no description available...' %>
          </div>
          <div class="row">
            <div
              class="accordion accordion-flush"
              id="accordionFlush<%= building._id%>"
            >
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading<%=building._id%>">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapse<%=building._id%>"
                    aria-expanded="false"
                    aria-controls="flush-collapse<%=building._id%>"
                  >
                    View Details
                  </button>
                </h2>
                <div
                  id="flush-collapse<%=building._id%>"
                  class="accordion-collapse collapse"
                  aria-labelledby="flush-heading<%=building._id%>"
                  data-bs-parent="#accordionFlush<%= building._id%>"
                >
                  <div class="accordion-body">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                        Floor count:
                        <b
                          ><%= building.floorCount ?
                          building.floorCount.toLocaleString('en-US') : '' %>
                        </b>
                      </li>
                      <li class="list-group-item">
                        Floor Area:
                        <b
                          ><%= building.floorArea ?
                          building.floorArea.toLocaleString('en-US') : '' %> m<sup
                            >2</sup
                          ></b
                        >
                      </li>
                      <li class="list-group-item">
                        Footprint Area:
                        <b
                          ><%= building.footprintArea ?
                          building.footprintArea.toLocaleString('en-US') : '' %>
                          m<sup>2</sup></b
                        >
                      </li>
                    </ul>
  
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                        Capacity:
                        <b
                          ><%= building.capacity ?
                          building.capacity.toLocaleString('en-US') : '' %>
                        </b>
                      </li>
                      <li class="list-group-item">
                        Actual users:
                        <b
                          ><%= building.userCount ?
                          building.userCount.toLocaleString('en-US') : '' %>
                        </b>
                      </li>
                      <li class="list-group-item">
                        Asset Value:
                        <b
                          ><%= building.assetValue ? 'P' +
                          building.assetValue.toLocaleString('en-US') : '' %>
                        </b>
                      </li>
                    </ul>
                    <a
                      href="/buildings/<%= building._id %>"
                      class="btn btn-success d-block"
                      >Full details</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <% } %>
  
  </div>